* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/img/5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 60px;
  color: #d3ac00;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.85);
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 4px 28px rgba(255, 255, 255, 0.22);
  border: 1px solid #e7c118;
}

.image {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.image_background {
  background-color: black;
}

img {
  width: 100%;
  display: block;
  border: 1px solid #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.7;
}

.bmi_description {
  display: flex;
  justify-content: center;
}

.bmi_description p:first-child {
  position: absolute;
  top: 40px;
  text-align: center;
  padding: 0 30px;
  color: #000;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

.bmi_description p:last-child {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0px;
  text-align: center;
  padding: 0 30px;
  color: rgb(247, 245, 245);
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

/*--------------------------------Input---------------------------------*/

.bmi_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bmi_wrapper__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  width: 100%;
}

.bmi_wrapper__item {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 28%;
}

.input_title {
  padding: 0 0 5px;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  outline: none;
  background-color: #464646;
  caret-color: #d3ac00;
  color: #d3ac00;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.button_container {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.btn_calculate {
  width: 130px;
  background: #96801d;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 20px;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  box-shadow: 0 5px 0 #202020;
  border-radius: 100px;
}

.btn_reset {
  width: 130px;
  background: rgb(161, 161, 159);
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 20px;
  color: #f7f7f7;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  box-shadow: 0 5px 0 #202020;
  border-radius: 100px;
}

.bmi_result {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.bmi_number {
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

#bmiNumber {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #d3ac00;
}

#bmiDescription {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #d3ac00;
  padding: 5px 0;
}

/*------------------------------Media all-------------------------*/

@media all and (max-width: 850px) {
  .wrapper {
    margin: 0 10px;
  }

  main {
    padding: 10px;
  }
}

@media all and (max-width: 680px) {
  h1 {
    font-size: 50px;
  }

  .bmi_description p:first-child {
    top: 30px;
    padding: 0 10px;
    font-size: 18px;
  }

  .bmi_description p:last-child {
    bottom: 20px;
    padding: 0 20px;
    font-size: 30px;
  }

  .bmi_wrapper__input {
    padding: 20px 40px;
  }
}

@media all and (max-width: 560px) {
  h1 {
    font-size: 45px;
    margin: 30px 10px 20px;
  }

  .bmi_description p:first-child {
    top: 20px;
    padding: 0 15px;
    font-size: 16px;
  }

  .bmi_description p:last-child {
    bottom: 30px;
    font-size: 24px;
  }

  .bmi_wrapper__input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .bmi_wrapper__item {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 70%;
    margin: 0 0 15px;
  }

  .input_title {
    padding: 0 0 5px;
    font-size: 16px;
  }

  .button_container {
    width: 100%;
    margin: 20px 0;
    justify-content: center;
  }

  .btn_calculate,
  .btn_reset {
    margin: 0 10px;
  }

  .bmi_result {
    width: 70%;
  }

  .bmi_number {
    font-size: 20px;
    padding: 10px 0 0;
  }

  #bmiNumber {
    font-size: 26px;
  }

  #bmiDescription {
    font-size: 20px;
  }
}

@media all and (max-width: 430px) {
  h1 {
    font-size: 40px;
  }

  .bmi_description p:first-child {
    font-size: 15px;
    padding: 0 5px;
  }

  .bmi_description p:last-child {
    bottom: 20px;
    padding: 0 10px;
    font-size: 20px;
  }

  .bmi_wrapper__item {
    width: 100%;
  }

  .input_title {
    font-size: 14px;
  }

  .button_container {
    width: 100%;
  }

  .bmi_result {
    width: 100%;
  }
}
